* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f2f2f2;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: end;
}

/* LEFT SIDE */
.left {
    width: 50%;
    background: #ffffff;
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

h1 {
    font-size: 42px;
    margin-bottom: 15px;
    color: #222;
}

.subtitle {
    color: #777;
    margin-bottom: 40px;
}

form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    outline: none;
    transition: 0.3s;
}

form input:focus {
    border-color: #7a3cff;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 25px;
}

.options a {
    text-decoration: none;
    color: #7a3cff;
}

button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #7a3cff, #a85cff);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    opacity: 0.9;
}

.signup {
    margin-top: 20px;
    font-size: 14px;
}

.signup a {
    color: #7a3cff;
    text-decoration: none;
    font-weight: 500;
}

/* RIGHT SIDE IMAGE */
.right {
    width: 50%;
    background: url("right.webp") no-repeat center;
    background-size: cover;
    
    border-radius: 15px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .container {
        flex-direction: column;
    }

    .left, .right {
        width: 100%;
        height: 50vh;
    }

    .left {
        padding: 40px;
    }
}
