  body {
            font-family:Arial, Helvetica, sans-serif;
            background-image:url(p1r.jpeg);
            background-position: fixed;
            background-size: cover;
            background-repeat: no-repeat;
        }

        .form {
    
            width: 400px;
            margin: auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 10px;
            box-shadow:black;
            align-items: flex-end;
            margin-left: 900px;
            margin-top: 80px;
            background-color: rgb(236, 238, 238);
        }

        table {
            width: 100%;
        }

        th {
            text-align: left;
            padding: 8px;
        }

        input {
            width: 100%;
            height: 30px;
            padding: 5px;
        }
        input[type=text],input[type=email],input[type=password]{
            border: none;
            border-bottom: 1px solid;
            outline:none;
            font-size: 1rem;
        }
        button {
            margin-top: 15px;
            width: 100%;
            height: 35px;
            background-color: rgb(97, 201, 227);
            border-radius: 10px;
        }
    