.Dashboard-container{
    display: flex;
    flex-direction: column;
    height: 700px;
    border: 1px solid black ;
    padding: 15px;
}
.Dashboard-area{
    display: flex;
    border: 1px solid black ;
    flex-direction: row;
    height: 100%;
    gap: 20px;
}
.Dashboard-sidebar{
    border: 1px solid black ;
    padding: 15px;
    background-color: lightgoldenrodyellow;
    width: 20%;
    height: 100%;
}
.Dashboard-Projectarea{
    border: 1px solid black ;
    padding: 15px;
    background-color: crimson;
    width: 70%;
    height: 100%;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}


.modal-content {
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.Project-cards{
   display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    overflow: hidden;
}